:root {
  --site-first-bg-color: #34353a;
  --site-page-bg-color: #31333b;
  --site-third-bg-color: #3d3e42;
  --site-font-color: #ffc86b;
}

html, body {
  scroll-behavior: smooth;
}

.land__page_heigth {
  min-height: auto;
}

.land__page_bg {
  background: var(--site-first-bg-color);
}

.site-color-orange {
  color: var(--site-font-color)
}

.short__description {
  font-size: small;
}

.skii__page_bg {
  background: var(--site-page-bg-color);
}

.circle {
  position: absolute;
  background: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.site__bg__grey {
  background: var(--site-third-bg-color);
}

.site__bg_dark_blue {
  background: var(--site-page-bg-color);
}

.experience__container {
  background: var(--site-third-bg-color);
}

.firts__line__heigth {
  width: 60px;
  height: 250px;
}

.dot-shadow {
  filter: drop-shadow(0px 0px 10px #ffc86b);
}

.inital__name {
  font-size: 80px;
}

.btn__downloard-cv {
  border: 3px solid #f4c069;
  color: white;
}

.btn__downloard-cv:hover {
  background: #ffc86b;
  box-shadow: 4px -1px 20px 0px #ffc86b;
}

.profile-image {
  /* filter: contrast(0.85) !important; */
  filter: drop-shadow(0px -85px 70px #ffff);
}

.contact__me_box {
  background: var(--site-page-bg-color);
}

.contact__fs {
  font-size: 20px;
}

.icon {
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  background: var(--site-page-bg-color);
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition:all 0.15s ease;
}

.waht__s-app:hover {
  background: #29a71a;
  /* box-shadow: 1px 2px 20px 0px #29a71a; */
}

.facebook:hover {
  background: #4267B2;
  /* box-shadow: 1px 2px 20px 0px #4267B2; */
}

.instgram:hover {
  background-image: 
    linear-gradient(
    #8a3ab9,
    #e95950, 
    #bc2a8d, 
    #fccc63
  );
  /* box-shadow: 1px 2px 20px 0px #e95950; */
}

.linkedin:hover {
  background: #0A66C2;
  /* box-shadow: 1px 2px 20px 0px #0A66C2; */
}

.nav-text__color {
  color: #9f9fa0 !important;
}



























